<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Running Diary{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/bootstrap.min.js') }}">
            <link rel="stylesheet" href="{{ asset('styles/jquery-3.2.1.min.js') }}">
            <link rel="stylesheet" href="{{ asset('styles/running_diary.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12" id="welcome">
                <h1>Willkommen, bei deinem Lauftagebuch! {{ app.request.locale }}</h1>
            </div>

            <nav class="col-md-3 col-sm-6 col-xs-9 list-border" id="nav">
                <ul>
                    <li><a href="{{ path('userList') }}">&Uuml;bersicht</a> </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('userProfil', {username: app.user.username}) }}">Mein Profil</a> </li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Mein Profil</a> </li>
                    {% endif %}

                </ul>
            </nav>

            {# Sprache wechseln #}
            <div class="col-md-3 col-sm-6 col-xs-3">
                <a href="{{ path('changeEn') }}">en</a>
                <span>|</span>
                <a href="{{ path('changeDe') }}">de</a>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-3">
                {% if is_granted('ROLE_ADMIN') %}
                    <form action="/logout">
                        <input type="submit" value="Logout">
                    </form>
                    {% else %}
                        <form action="/login">
                            <input type="submit" value="Login">
                        </form>
                {% endif %}
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 list-border ui-widget">
                <form action="{{ path('searchUser') }}" method="post">
                    <div id="searchDiv">
                        <label for="ajaxTextBox">Suche</label>
                        <input type="text" name="suche" id="ajaxTextBox" onkeyup="showHint(this.value)" autocomplete="off" placeholder="User suche...">
                        <button type="submit">Suchen</button>
                    </div>
                    <ul id="inputtxt">
                        <li>

                        </li>
                    </ul>

                </form>
            </div>

            {% block overview %}{% endblock %}

            {% block anon %}{% endblock %}



        </div>
        {% block javascripts %}
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
                function showHint(str) {
                    var xhttp;
                    var minlength = 3;
                    var entitySelector = $("#inputtxt").html('');
                    if(str.length < minlength){
                        document.getElementById("inputtxt").innerHTML = "";
                        return;
                    }
                    if(str.length >= minlength){
                        xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function () {
                            if(xhttp.readyState === 4 && xhttp.status === 200){
                                var jsonText = JSON.parse(this.responseText);
                                var keys = Object.keys(jsonText);
                                for(var i = 0; i < keys.length; i++){
                                    if(jsonText.hasOwnProperty(keys[i])){
                                        entitySelector.append('<a href="#">'+ jsonText[keys[i]].username +'</a><br>');
                                        $('#inputtxt a').click(function () {
                                            var userName = $(this).text();
                                            $('#ajaxTextBox').val(userName);
                                        });
                                    }
                                }
                            }
                        };
                    }
                    xhttp.open("GET", "/search/"+str, true);
                    xhttp.send();
                }
            </script>
        {% endblock %}
    </body>
</html>
