<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Running Diary{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/bootstrap.min.js') }}">
            <link rel="stylesheet" href="{{ asset('styles/running_diary.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12" id="welcome">
                <h1>Willkommen, bei deinem Lauftagebuch!</h1>
            </div>

            <nav class="col-md-3 col-sm-6 col-xs-9 list-border" id="nav">
                <ul>
                    <li><a href="{{ path('userList') }}">&Uuml;bersicht</a> </li>
                    <!-- if abfrage, wenn eingeloggt, dann geht es weiter sonst wird Login aufgerufen -->
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('userProfil', {username: app.user.username}) }}">Mein Profil</a> </li>
                        {% else %}
                            <li><a href="{{ path('login') }}">Mein Profil</a> </li>
                    {% endif %}

                </ul>
            </nav>

            <div class="col-md-9 col-sm-6 col-xs-3">
                {% if is_granted('ROLE_ADMIN') %}
                    <form action="/logout">
                        <input type="submit" value="Logout">
                    </form>
                    {% else %}
                        <form action="/login">
                            <input type="submit" value="Login">
                        </form>
                {% endif %}
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <form action="{{ path('searchUser') }}" method="post">
                    <div id="search">
                        User suche: <input type="text" name="suche">
                        <button type="submit">Suchen</button>
                    </div>
                </form>
            </div>


            {% block overview %}{% endblock %}

            {% block anon %}{% endblock %}

        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
